<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Kvothe is a composer assistant. It builds modes, scales, chords, intervals, formulas... all that composers need.">
    <meta name="keywords" content="kvothe, soywod, composition, composer, scale, note, interval, formula, mode, harmonization">
    <meta name="robots" content="index, follow">

    <title>Kvothe - the composer assistant</title>

    <base href="/">
</head>
<body>
    <div id="kvothe"><%= '<' + "%- (typeof content !== 'undefined') ? content : '' %" + '>' %></div>
</body>
</html>
