h1 {
  font-weight: 200;
  margin: 30px 0;
}

h3 {
  font-weight: 200;
  margin: 20px 0;
}

h4 {
  font-weight: 200;
  margin: 5px 0;
}

h5 {
  font-weight: 200;
}

i.icon-left {
  margin: 0 10px 0 0;
}

i.icon-right {
  margin: 0 0 0 10px;
}

*:focus {
  outline: none !important;
}

.btn {
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none !important;
  text-decoration: none !important;
}

.section-enter {
  opacity: 0;
  transform: translate(-200px, 0);
}

.section-enter.section-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 150ms cubic-bezier(0.86, 0, 0.07, 1), opacity 175ms cubic-bezier(0.86, 0, 0.07, 1);
}

.section-leave {
  opacity: 1;
  transform: translate(0, 0);
}

.section-leave.section-leave-active {
  opacity: 0;
  transform: translate(-200px, 0);
  transition: all 150ms cubic-bezier(0.86, 0, 0.07, 1), opacity 175ms cubic-bezier(0.86, 0, 0.07, 1);
}

.section-appear {
  opacity: 0;
  transform: translate(-200px, 0);
}

.section-appear.section-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 150ms cubic-bezier(0.86, 0, 0.07, 1), opacity 175ms cubic-bezier(0.86, 0, 0.07, 1);
}

.scale-schema {
  display: flex;
}

.scale-schema > * {
  flex: 1;
}
