h1 {
  font-weight: 200;
  margin: 30px 0;
}

h3 {
  font-weight: 200;
  margin: 20px 0;
}

h4, h5 {
  font-weight: 200;
  margin: 5px 0;
}

h5 {
  font-weight: 200;
}

.navigation {
  margin: 30px 0;
}

i.icon-left {
  margin: 0 10px 0 0;
}

i.icon-right {
  margin: 0 0 0 10px;
}

*:focus {
  outline: none !important;
}

.btn {
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none !important;
  text-decoration: none !important;
}

.animated-container {
  animation: fade 175ms cubic-bezier(0.86, 0, 0.07, 1), slide 150ms cubic-bezier(0.86, 0, 0.07, 1);
}

.show {
  opacity: 1;
  transition: opacity 175ms cubic-bezier(0.86, 0, 0.07, 1);
}

.hide {
  opacity: 0;
  transition: opacity 175ms cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes slide {
  0% {
    transform: translate(-200px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TODO: use sass/less variables instead */
.list-group-item.active {
  background-color: #e6e6e6;
  border-color: #cecece;
  color: inherit;
}
